.btn-1 {
    font-size: 18px;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    border: 2px solid grey;
    background-color: black;
    color: white;
    transition: o.1s;
    cursor: pointer;
}
.updateName {
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    border: 5px solid grey;
}
.updateBirth {
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    border: 5px solid grey;
}